@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,900;1,1000&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #FFF;
    padding: 0px 140px;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #FF5400;
    padding: 12px 34px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

nav {
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

nav h3 span {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 48px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

#home {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 110px auto;
}

.card-container .card {
    text-align: center;
    padding: 40px 30px;
}

.card-container .card-stats {
    color: #032027;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container .card-title {
    color: rgba(3, 32, 39, 0.60);
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

.popular {
    display: flex;
    margin: 100px 135px;
    justify-content: space-between;
}

.popular-content {
    text-align: left;
    padding-right: 50px;
}

.pop-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.pop-title-des,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.pop-list-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.popular-img {
    width: 90%;
}

.destination-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.5rem;
}

/* Responsive */
@media screen and (max-width:576px) {

    header,
    li {
        padding: 20px;
    }

    nav,
    ul,
    .card-container,
    .popular {
        flex-direction: column;
    }

    .popular {
        padding: 20px;
        margin: 0;
    }

    .popular-img img {
        width: 100%;
        margin-top: 24px;
    }
}

@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    ul,
    .popular {
        flex-direction: column;
    }

    li {
        padding: 20px;
    }

    .card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .popular {
        padding: 20px;
        margin: 0;
    }

    .popular-img img {
        width: 100%;
        margin-top: 24px;
    }
}