@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #FFF;
    padding: 0px 140px;
}

.btn-primary {
    border-radius: 8px;
    border: none;
    background: #08C573;
    padding: 15px 35px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

nav {
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    color: #032027;
    font-size: 48px;
    font-weight: 600;
}

nav>ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 48px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: rgba(3, 32, 39, 0.70);
    font-size: 18px;
    font-weight: 400;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 110px auto;
}

.card-container .card {
    text-align: center;
    padding: 40px 30px;
}

.card-container .card-stats {
    color: #032027;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-container .card-title {
    color: rgba(3, 32, 39, 0.60);
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
}

/* Responsive */
@media screen and (max-width:576px) {

    header,
    li {
        padding: 20px;
    }

    nav,
    ul,
    .card-container {
        flex-direction: column;
    }
}

@media screen and (min-width:576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    ul {
        flex-direction: column;
    }

    li {
        padding: 20px;
    }

    .card-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}